footer{
    position:flex;
    bottom:0;
    background-color:black;
    width:100%;
    padding:1% 0 1% 0;
    text-align: center;
    margin-top:5%;
}

footer p{
    font-size:1em;
    color:grey;
}