<!--Slider TickMarks-->

<datalist id="tickmarks">
    <option value="0.00"></option>
    <option value="0.10"></option>
    <option value="0.20"></option>
    <option value="0.30"></option>
    <option value="0.40"></option>
    <option value="0.50"></option>
    <option value="0.60"></option>
    <option value="0.70"></option>
    <option value="0.80"></option>
    <option value="0.90"></option>
    <option value="1.00"></option>
  </datalist>

  <datalist id="muttickmarks">
      <option value="0.000000001"></option>
      <option value="0.00000001"></option>
      <option value="0.0000001"></option>
      <option value="0.000001"></option>
      <option value="0.00001"></option>
      <option value="0.0001"></option>
      <option value="0.001"></option>
      <option value="0.01"></option>
  </datalist>

  <datalist id="poptickmarks">
      <option value="100"></option>
      <option value="500"></option>
      <option value="1000"></option>
      <option value="1500"></option>
      <option value="2000"></option>
      <option value="2500"></option>
      <option value="3000"></option>
      <option value="3500"></option>
      <option value="4000"></option>
      <option value="4500"></option>
      <option value="5000"></option>
  </datalist>

  <datalist id="gentickmarks">
      <option value="100"></option>
      <option value="200"></option>
      <option value="300"></option>
      <option value="400"></option>
      <option value="500"></option>
      <option value="600"></option>
      <option value="700"></option>
      <option value="800"></option>
      <option value="900"></option>
      <option value="1000"></option>
  </datalist>

  <div id="Simbuttons">
    <button (click) = "getLeftData($event)" id="runLeftSimBtn" >GO</button>
    <button (click) = "getRightData($event)" id="runRightSimBtn">GO</button>  
  </div>






<p id="sliderDesc">Use Sliders or text boxes to select values for each factor</p>

<table class="GraphFilter">
  <tr>
    <!--Left Graph Sliders-->
    <td class="leftGraph"><div class="slider-wrapper"><input id="LfitAA"    value = "0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "LfitsliderChange($event)"/></div></td>
    <td class="leftGraph"><div class="slider-wrapper"><input id="LfitAa"    value = "0.5" type="range" min="0" max="1" step=".1" list="tickmarks" (change) = "LfitsliderChange1($event)"/></div></td>
    <td class="leftGraph"><div class="slider-wrapper"><input id="Lfitaa"    value = "0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "LfitsliderChange2($event)"/></div></td> 
    <td class="leftGraph"><div class="slider-wrapper"><input id ="LAtoaMut" value = "0.00" type="range"  min="0.000000001" max="0.01" step="any" (change) = "LAtoaMutsliderChange($event)"/></div></td>
    <td class="leftGraph"><div class="slider-wrapper"><input id="LatoAMut"  value="0.00" type="range"  min="0.000000001" max="0.01" step="any" (change) = "LatoAMutsliderChange($event)"/></div></td>
    <td class="leftGraph"><div class="slider-wrapper"><input id="LAlleFreq" value="0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "LAlleFreqsliderChange($event)"/></div></td>
    <td class="leftGraph"><div class="slider-wrapper"><input id ="LpopSize" value="100"type="range" min="100" max="5000" step="100" list="poptickmarks" (change) = "LpopSizesliderChange($event)"/></div></td> 
    <td class="leftGraph"><div class="slider-wrapper"><input id="LGenNum"   value="100" type="range" min="100" max="1000" step="50" list="gentickmarks" (change) = "LGenNumsliderChange($event)"/></div></td>
    <td class="sliderdivider"><div></div></td>
        <!--Right Graph Sliders-->
    <td class="rightGraph"><div class="slider-wrapper"><input id="RfitAA"    value="0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "RfitsliderChange($event)"/></div></td>
    <td class="rightGraph"><div class="slider-wrapper"><input id="RfitAa"    value="0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "RfitsliderChange1($event)"/></div></td>
    <td class="rightGraph"><div class="slider-wrapper"><input id="Rfitaa"    value="0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "RfitsliderChange2($event)"/></div></td> 
    <td class="rightGraph"><div class="slider-wrapper"><input id ="RAtoaMut" value="0.00" type="range"  min="0.000000001" max="0.01" step="any" (change) = "RAtoaMutsliderChange($event)"/></div></td>
    <td class="rightGraph"><div class="slider-wrapper"><input id="RatoAMut"  value="0.00" type="range"   min="0.000000001" max="0.01" step="any" (change) = "RatoAMutsliderChange($event)"/></div></td>
    <td class="rightGraph"><div class="slider-wrapper"><input id="RAlleFreq" value="0.5" type="range"  min="0" max="1" step=".1" list="tickmarks" (change) = "RAlleFreqsliderChange($event)"/></div></td>
    <td class="rightGraph"><div class="slider-wrapper"><input id ="RpopSize" value="100" type="range"  min="100" max="5000" step="100" list="poptickmarks"  (change) = "RpopSizesliderChange($event)"/></div></td> 
    <td class="rightGraph"><div class="slider-wrapper"><input id="RGenNum"   value="100" type="range"  min="100" max="1000" step="50" list="gentickmarks" (change) = "RGenNumsliderChange($event)"/></div></td>
  </tr>

  <tr class="sliderLabels">
    <!--Left Graph Desc.-->
    <td class="leftGraph"><p>Fitness AA</p></td>
    <td class="leftGraph"><p>Fitness Aa</p></td>
    <td class="leftGraph"><p>Fitness aa</p></td>
    <td class="leftGraph"><p>A to a Mtn. Rate</p></td>
    <td class="leftGraph"><p>a to A Mtn. Rate</p></td>
    <td class="leftGraph"><p>Int. Allele Freq.</p></td>
    <td class="leftGraph"><p>Pop. Size</p></td>
    <td class="leftGraph"><p>Generations</p></td>
    <td class="sliderdivider"><div></div></td>
        <!--Right Graph Desc.-->
    <td class="rightGraph"><p>Fitness AA</p></td>
    <td class="rightGraph"><p>Fitness Aa</p></td>
    <td class="rightGraph"><p>Fitness aa</p></td>
    <td class="rightGraph"><p>A to a Mtn. Rate</p></td>
    <td class="rightGraph"><p>a to A Mtn. Rate</p></td>
    <td class="rightGraph"><p>Int. Allele Freq.</p></td>
    <td class="rightGraph"><p>Pop. Size</p></td>
    <td class="rightGraph"><p>Generations</p></td>
  </tr>

  <tr id="sliderTextBoxes">
      <!--Left Graph Text boxes-->
      <td class="leftGraph"><input type="text" value="0.5" id="LfitAAtext" (change) = "LfitAAtextChange($event)"/></td>
      <td class="leftGraph"><input type ="text" value="0.5" id="LfitAatext" (change) = "LfitAatextChange($event)"/></td>
      <td class="leftGraph"><input type="text" value="0.5" id="Lfitaatext" (change) = "LfitaatextChange($event)"/></td>
      <td class="leftGraph"><input type="text" value="0.01" id="LAtoaMuttext" (change) = "LAtoaMuttextChange($event)"/></td>
      <td class="leftGraph"><input type="text" value="0.01" id="LatoAMuttext"  (change) = "LatoAMuttextChange($event)"/></td>
      <td class="leftGraph"><input type="text" value="0.5" id="LAlleFreqtext" (change) = "LAlleFreqtextChange($event)"/></td>
      <td class="leftGraph"><input type="text" value="100" id="LpopSizetext" (change) = "LpopSizetextChange($event)"/></td>
      <td class="leftGraph"><input type="text" value="100" id="LGenNumtext" (change) = "LGenNumtextChange($event)"/></td>

      <td class="sliderdivider"><div></div></td>
     <!--Right Graph Text boxes-->
      <td class="rightGraph"><input type="text" value="0.5" id="RfitAAtext" (change) = "RfitAAtextChange($event)"/></td>
      <td class="rightGraph"><input type ="text" value="0.5" id="RfitAatext" (change) = "RfitAatextChange($event)"/></td>
      <td class="rightGraph"><input type="text" value="0.5" id="Rfitaatext" (change) = "RfitaatextChange($event)"/></td>
      <td class="rightGraph"><input type="text" value="0.01" id="RAtoaMuttext" (change) = "RAtoaMuttextChange($event)"/></td>
      <td class="rightGraph"><input type="text" value="0.01" id="RatoAMuttext"(change) = "RatoAMuttextChange($event)"/></td>
      <td class="rightGraph"><input type="text" value="0.5" id="RAlleFreqtext" (change) = "RAlleFreqtextChange($event)"/></td>
      <td class="rightGraph"><input type="text" value="100" id="RpopSizetext" (change) = "RpopSizetextChange($event)"/></td>
      <td class="rightGraph"><input type="text" value="100" id="RGenNumtext" (change) = "RGenNumtextChange($event)"/></td>
    </tr>
</table>

<table style="width:100%" class="Graphs">
    
    <tr style="text-align: center">
      <td  id="leftGraph">
          <div style="background-color:#c22033"><nvd3 style = "fill:white" [options]="optionsL" [data]="dataL" api = "api"></nvd3></div>
      </td>

      <td id="rightGraph">
          <div style="background-color: #c22033"><nvd3 style = "fill:White" [options]="optionsR" [data]="dataR" api = "api"></nvd3></div>
      </td>
    </tr>
</table>


