
#runSimBtn{
    width:200px;
    height:40px;
    background-color:gray;
    border-color:black;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom:1%;
}
#sliderDesc{
    text-align: center;
    font-size: 1em;
}

table{
    border-collapse: collapse;
}
.GraphFilter{
    background-color:red;
    height:200px;
    width:100%;
}
.GraphFilter td
{
    text-align: center;
    margin: 0px 0px 0px 0px;
} 
.GraphFilter input[type=text]
{
    width:30px;
}
.GraphFilter p{
    font-size: .5em;
    text-align: center;
}

.Graphs{
    height:200px;
    width:100%;
    margin-bottom:15%;
}
.leftGraph{
    background-color: lightblue;
}
.rightGraph{
    background-color: lightgreen;
}

#leftGraph{
    height:200px;
    width:49.6%; 
    float:left;
}

#rightGraph{
    height: 300px;
    width:50%; 
    float:right;
}


input[type="range"] {
    top: 75%;
    padding-right:0px;
    padding-left:0px;
 }

 .slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
  }

  .slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
  }


  /*Responsive*/
@media screen and (max-width: 1250px){
      .Graphs{
          margin-bottom:17%;
      }
  }
@media screen and (max-width: 1000px){
    .rightGraph{
        display:none;
    }
    #rightGraph{
        display:none;
    }
    .GraphFilter{
        width:80%;
        margin-left:10%;
        margin-right:10%;
    }

    .leftGraph{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    #leftGraph{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .Graphs{
        margin-bottom:30%;
    }
}

@media screen and (max-width: 900px){
    .Graphs{
        margin-bottom:35%;
    }
}

@media screen and (max-width: 750px){
    .Graphs{
        margin-bottom:40%;
    }
}

@media screen and (max-width: 650px){
    .Graphs{
        margin-bottom:45%;
    }
}

@media screen and (max-width: 570px){
    .Graphs{
        margin-bottom:55%;
    }
}
@media screen and (max-width: 470px){
    .Graphs{
        margin-bottom:65%;
    }
}

@media screen and (max-width: 400px){
    .Graphs{
        margin-bottom:75%;
    }
}

@media screen and (max-width: 350px){
    .Graphs{
        margin-bottom:85%;
    }
}